WikiManageWeb/Connected Services/ServiceReference1/wikiService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wikiService.ModelViewContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wikiService.ModelViewContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDanhMuc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DanhMuc" nillable="true" type="tns:DanhMuc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDanhMuc" nillable="true" type="tns:ArrayOfDanhMuc" />
  <xs:complexType name="DanhMuc">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaDanhMuc" type="xs:int" />
      <xs:element minOccurs="0" name="TenDanhMuc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DanhMuc" nillable="true" type="tns:DanhMuc" />
</xs:schema>