WikiManageWeb/Connected Services/WikiService/wikiService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wikiService.Models.ServicepartnerContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wikiService.Models.ServicepartnerContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TaiKhoanPartner">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaQuyenPartner" type="xs:int" />
      <xs:element minOccurs="0" name="MaTaiKhoan" type="xs:int" />
      <xs:element minOccurs="0" name="MaToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatKhau" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuyenCuaPartner" nillable="true" type="tns:QuyenPartner" />
      <xs:element minOccurs="0" name="TenDangNhap" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrangThai" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaiKhoanPartner" nillable="true" type="tns:TaiKhoanPartner" />
  <xs:complexType name="QuyenPartner">
    <xs:sequence>
      <xs:element minOccurs="0" name="DanhSachCacAccountpartner" nillable="true" type="tns:ArrayOfTaiKhoanPartner" />
      <xs:element minOccurs="0" name="DanhSachCacOperationContract" nillable="true" type="tns:ArrayOfQuanLiCacOperationContract" />
      <xs:element minOccurs="0" name="MaQuyen" type="xs:int" />
      <xs:element minOccurs="0" name="TenQuyen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrangThai" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuyenPartner" nillable="true" type="tns:QuyenPartner" />
  <xs:complexType name="ArrayOfTaiKhoanPartner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaiKhoanPartner" nillable="true" type="tns:TaiKhoanPartner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaiKhoanPartner" nillable="true" type="tns:ArrayOfTaiKhoanPartner" />
  <xs:complexType name="ArrayOfQuanLiCacOperationContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuanLiCacOperationContract" nillable="true" type="tns:QuanLiCacOperationContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuanLiCacOperationContract" nillable="true" type="tns:ArrayOfQuanLiCacOperationContract" />
  <xs:complexType name="QuanLiCacOperationContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaQuanLi" type="xs:int" />
      <xs:element minOccurs="0" name="MaQuyen" type="xs:int" />
      <xs:element minOccurs="0" name="QuyenCuaPartner" nillable="true" type="tns:QuyenPartner" />
      <xs:element minOccurs="0" name="TenOperationContrac" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuanLiCacOperationContract" nillable="true" type="tns:QuanLiCacOperationContract" />
</xs:schema>