WikiManageWeb/Connected Services/WikiService/wikiService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60198/wikiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" />
  <xs:import schemaLocation="http://localhost:60198/wikiService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/wikiService.Models.ServicepartnerContract" />
  <xs:element name="DangNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="userCaContract" nillable="true" type="q1:TaiKhoan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DangNhapResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangKiTaiKhoanAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="userContract" nillable="true" type="q2:TaiKhoan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangKiTaiKhoanAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DangKiTaiKhoanAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangKiTaiKhoanUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="userContract" nillable="true" type="q3:TaiKhoan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangKiTaiKhoanUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DangKiTaiKhoanUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraiTaiKhoanDatontai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraiTaiKhoanDatontaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KiemTraiTaiKhoanDatontaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraTaiKhoan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="userContract" nillable="true" type="q4:TaiKhoan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraTaiKhoanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="KiemTraTaiKhoanResult" nillable="true" type="q5:TaiKhoan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongTinTaiKhoan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThongTinTaiKhoanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="ThongTinTaiKhoanResult" nillable="true" type="q6:TaiKhoan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachTaiKhoan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachTaiKhoanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="DanhSachTaiKhoanResult" nillable="true" type="q7:ArrayOfTaiKhoan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachTaiKhoanAdmin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachTaiKhoanAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="DanhSachTaiKhoanAdminResult" nillable="true" type="q8:ArrayOfTaiKhoan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachDanhMuc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachDanhMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="DanhSachDanhMucResult" nillable="true" type="q9:ArrayOfDanhMuc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemMoiDanhMuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="category" nillable="true" type="q10:DanhMuc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemMoiDanhMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemMoiDanhMucResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraDanhMucDaTonTai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraDanhMucDaTonTaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KiemTraDanhMucDaTonTaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChitTietDanhMuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategory" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChitTietDanhMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="ChitTietDanhMucResult" nillable="true" type="q11:DanhMuc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaDanhMuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="category" nillable="true" type="q12:DanhMuc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaDanhMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaDanhMucResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaDanhMuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaDanhMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaDanhMucResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachTatCaBaiViet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachTatCaBaiVietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="DanhSachTatCaBaiVietResult" nillable="true" type="q13:ArrayOfBaiViet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachTatCaBaiVietDaXem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachTatCaBaiVietDaXemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="DanhSachTatCaBaiVietDaXemResult" nillable="true" type="q14:ArrayOfBaiViet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachTatCaBaiVietChuaXem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachTatCaBaiVietChuaXemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="DanhSachTatCaBaiVietChuaXemResult" nillable="true" type="q15:ArrayOfBaiViet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachBaiVietNguoiDung">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachBaiVietNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="DanhSachBaiVietNguoiDungResult" nillable="true" type="q16:ArrayOfBaiViet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachSanPhamTheoDanhMuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCate" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachSanPhamTheoDanhMucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="DanhSachSanPhamTheoDanhMucResult" nillable="true" type="q17:ArrayOfBaiViet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraTieuDeDaTonTai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KiemTraTieuDeDaTonTaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KiemTraTieuDeDaTonTaiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaoBaiVietMoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="product" nillable="true" type="q18:BaiViet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TaoBaiVietMoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaoBaiVietMoiResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChiTietSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="ChiTietSanPhamResult" nillable="true" type="q19:BaiViet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoiDungBaiVietClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoiDungBaiVietClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="NoiDungBaiVietClientResult" nillable="true" type="q20:BaiViet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaBaiViet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="product" nillable="true" type="q21:BaiViet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaBaiVietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaBaiVietResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatBaiViet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="product" nillable="true" type="q22:BaiViet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatBaiVietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CapNhatBaiVietResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaBaiViet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaBaiVietResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaBaiVietResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimBaiVietTheoTen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimBaiVietTheoTenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="TimBaiVietTheoTenResult" nillable="true" type="q23:ArrayOfBaiViet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BinhLuanSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" minOccurs="0" name="editProduct" nillable="true" type="q24:LichSuBinhLuan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BinhLuanSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BinhLuanSanPhamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaBinhLuan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaBinhLuanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XoaBinhLuanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemMoiPartner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/wikiService.Models.ServicepartnerContract" minOccurs="0" name="account" nillable="true" type="q25:TaiKhoanPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemMoiPartnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemMoiPartnerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachServiceRole">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhSachServiceRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/wikiService.Models.ServicepartnerContract" minOccurs="0" name="DanhSachServiceRoleResult" nillable="true" type="q26:ArrayOfQuyenPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartnerLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/wikiService.Models.ServicepartnerContract" minOccurs="0" name="account" nillable="true" type="q27:TaiKhoanPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartnerLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/wikiService.Models.ServicepartnerContract" minOccurs="0" name="PartnerLoginResult" nillable="true" type="q28:TaiKhoanPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>