WikiManageWeb/Connected Services/WikiService/wikiService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TaiKhoan">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDRole" type="xs:int" />
      <xs:element minOccurs="0" name="MaTaiKhoan" type="xs:int" />
      <xs:element minOccurs="0" name="MatKhau" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TenTaiKhoan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrangThai" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaiKhoan" nillable="true" type="tns:TaiKhoan" />
</xs:schema>