WikiManageWeb/Connected Services/WikiService/wikiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wikiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60198/wikiService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60198/wikiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60198/wikiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DichVuWiki_DangNhap_InputMessage">
    <wsdl:part name="parameters" element="tns:DangNhap" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DangNhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:DangNhapResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DangKiTaiKhoanAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:DangKiTaiKhoanAdmin" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DangKiTaiKhoanAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:DangKiTaiKhoanAdminResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DangKiTaiKhoanUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DangKiTaiKhoanUser" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DangKiTaiKhoanUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DangKiTaiKhoanUserResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_KiemTraiTaiKhoanDatontai_InputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraiTaiKhoanDatontai" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_KiemTraiTaiKhoanDatontai_OutputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraiTaiKhoanDatontaiResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_KiemTraTaiKhoan_InputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraTaiKhoan" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_KiemTraTaiKhoan_OutputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraTaiKhoanResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DanhSachDanhMuc_InputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachDanhMuc" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DanhSachDanhMuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachDanhMucResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_ThemMoiDanhMuc_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemMoiDanhMuc" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_ThemMoiDanhMuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemMoiDanhMucResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_KiemTraDanhMucDaTonTai_InputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraDanhMucDaTonTai" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_KiemTraDanhMucDaTonTai_OutputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraDanhMucDaTonTaiResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_ChitTietDanhMuc_InputMessage">
    <wsdl:part name="parameters" element="tns:ChitTietDanhMuc" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_ChitTietDanhMuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChitTietDanhMucResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_SuaDanhMuc_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaDanhMuc" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_SuaDanhMuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaDanhMucResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_XoaDanhMuc_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaDanhMuc" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_XoaDanhMuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaDanhMucResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DanhSachTatCaBaiViet_InputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachTatCaBaiViet" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DanhSachTatCaBaiViet_OutputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachTatCaBaiVietResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DanhSachTatCaBaiVietDaXem_InputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachTatCaBaiVietDaXem" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DanhSachTatCaBaiVietDaXem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachTatCaBaiVietDaXemResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DanhSachTatCaBaiVietChuaXem_InputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachTatCaBaiVietChuaXem" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DanhSachTatCaBaiVietChuaXem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachTatCaBaiVietChuaXemResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DanhSachBaiVietNguoiDung_InputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachBaiVietNguoiDung" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DanhSachBaiVietNguoiDung_OutputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachBaiVietNguoiDungResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DanhSachSanPhamTheoDanhMuc_InputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachSanPhamTheoDanhMuc" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DanhSachSanPhamTheoDanhMuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachSanPhamTheoDanhMucResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_KiemTraTieuDeDaTonTai_InputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraTieuDeDaTonTai" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_KiemTraTieuDeDaTonTai_OutputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraTieuDeDaTonTaiResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_TaoBaiVietMoi_InputMessage">
    <wsdl:part name="parameters" element="tns:TaoBaiVietMoi" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_TaoBaiVietMoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:TaoBaiVietMoiResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_ChiTietSanPham_InputMessage">
    <wsdl:part name="parameters" element="tns:ChiTietSanPham" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_ChiTietSanPham_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChiTietSanPhamResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_NoiDungBaiVietClient_InputMessage">
    <wsdl:part name="parameters" element="tns:NoiDungBaiVietClient" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_NoiDungBaiVietClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:NoiDungBaiVietClientResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_SuaBaiViet_InputMessage">
    <wsdl:part name="parameters" element="tns:SuaBaiViet" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_SuaBaiViet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuaBaiVietResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_CapNhatBaiViet_InputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatBaiViet" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_CapNhatBaiViet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CapNhatBaiVietResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_XoaBaiViet_InputMessage">
    <wsdl:part name="parameters" element="tns:XoaBaiViet" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_XoaBaiViet_OutputMessage">
    <wsdl:part name="parameters" element="tns:XoaBaiVietResponse" />
  </wsdl:message>
  <wsdl:portType name="DichVuWiki">
    <wsdl:operation name="DangNhap">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/DangNhap" message="tns:DichVuWiki_DangNhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/DangNhapResponse" message="tns:DichVuWiki_DangNhap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DangKiTaiKhoanAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/DangKiTaiKhoanAdmin" message="tns:DichVuWiki_DangKiTaiKhoanAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/DangKiTaiKhoanAdminResponse" message="tns:DichVuWiki_DangKiTaiKhoanAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DangKiTaiKhoanUser">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/DangKiTaiKhoanUser" message="tns:DichVuWiki_DangKiTaiKhoanUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/DangKiTaiKhoanUserResponse" message="tns:DichVuWiki_DangKiTaiKhoanUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KiemTraiTaiKhoanDatontai">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/KiemTraiTaiKhoanDatontai" message="tns:DichVuWiki_KiemTraiTaiKhoanDatontai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/KiemTraiTaiKhoanDatontaiResponse" message="tns:DichVuWiki_KiemTraiTaiKhoanDatontai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KiemTraTaiKhoan">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/KiemTraTaiKhoan" message="tns:DichVuWiki_KiemTraTaiKhoan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/KiemTraTaiKhoanResponse" message="tns:DichVuWiki_KiemTraTaiKhoan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachDanhMuc">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/DanhSachDanhMuc" message="tns:DichVuWiki_DanhSachDanhMuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/DanhSachDanhMucResponse" message="tns:DichVuWiki_DanhSachDanhMuc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemMoiDanhMuc">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/ThemMoiDanhMuc" message="tns:DichVuWiki_ThemMoiDanhMuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/ThemMoiDanhMucResponse" message="tns:DichVuWiki_ThemMoiDanhMuc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KiemTraDanhMucDaTonTai">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/KiemTraDanhMucDaTonTai" message="tns:DichVuWiki_KiemTraDanhMucDaTonTai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/KiemTraDanhMucDaTonTaiResponse" message="tns:DichVuWiki_KiemTraDanhMucDaTonTai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChitTietDanhMuc">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/ChitTietDanhMuc" message="tns:DichVuWiki_ChitTietDanhMuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/ChitTietDanhMucResponse" message="tns:DichVuWiki_ChitTietDanhMuc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaDanhMuc">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/SuaDanhMuc" message="tns:DichVuWiki_SuaDanhMuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/SuaDanhMucResponse" message="tns:DichVuWiki_SuaDanhMuc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaDanhMuc">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/XoaDanhMuc" message="tns:DichVuWiki_XoaDanhMuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/XoaDanhMucResponse" message="tns:DichVuWiki_XoaDanhMuc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachTatCaBaiViet">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/DanhSachTatCaBaiViet" message="tns:DichVuWiki_DanhSachTatCaBaiViet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/DanhSachTatCaBaiVietResponse" message="tns:DichVuWiki_DanhSachTatCaBaiViet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachTatCaBaiVietDaXem">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/DanhSachTatCaBaiVietDaXem" message="tns:DichVuWiki_DanhSachTatCaBaiVietDaXem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/DanhSachTatCaBaiVietDaXemResponse" message="tns:DichVuWiki_DanhSachTatCaBaiVietDaXem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachTatCaBaiVietChuaXem">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/DanhSachTatCaBaiVietChuaXem" message="tns:DichVuWiki_DanhSachTatCaBaiVietChuaXem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/DanhSachTatCaBaiVietChuaXemResponse" message="tns:DichVuWiki_DanhSachTatCaBaiVietChuaXem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachBaiVietNguoiDung">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/DanhSachBaiVietNguoiDung" message="tns:DichVuWiki_DanhSachBaiVietNguoiDung_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/DanhSachBaiVietNguoiDungResponse" message="tns:DichVuWiki_DanhSachBaiVietNguoiDung_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachSanPhamTheoDanhMuc">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/DanhSachSanPhamTheoDanhMuc" message="tns:DichVuWiki_DanhSachSanPhamTheoDanhMuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/DanhSachSanPhamTheoDanhMucResponse" message="tns:DichVuWiki_DanhSachSanPhamTheoDanhMuc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KiemTraTieuDeDaTonTai">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/KiemTraTieuDeDaTonTai" message="tns:DichVuWiki_KiemTraTieuDeDaTonTai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/KiemTraTieuDeDaTonTaiResponse" message="tns:DichVuWiki_KiemTraTieuDeDaTonTai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TaoBaiVietMoi">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/TaoBaiVietMoi" message="tns:DichVuWiki_TaoBaiVietMoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/TaoBaiVietMoiResponse" message="tns:DichVuWiki_TaoBaiVietMoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChiTietSanPham">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/ChiTietSanPham" message="tns:DichVuWiki_ChiTietSanPham_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/ChiTietSanPhamResponse" message="tns:DichVuWiki_ChiTietSanPham_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NoiDungBaiVietClient">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/NoiDungBaiVietClient" message="tns:DichVuWiki_NoiDungBaiVietClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/NoiDungBaiVietClientResponse" message="tns:DichVuWiki_NoiDungBaiVietClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuaBaiViet">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/SuaBaiViet" message="tns:DichVuWiki_SuaBaiViet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/SuaBaiVietResponse" message="tns:DichVuWiki_SuaBaiViet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatBaiViet">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/CapNhatBaiViet" message="tns:DichVuWiki_CapNhatBaiViet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/CapNhatBaiVietResponse" message="tns:DichVuWiki_CapNhatBaiViet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XoaBaiViet">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/XoaBaiViet" message="tns:DichVuWiki_XoaBaiViet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/XoaBaiVietResponse" message="tns:DichVuWiki_XoaBaiViet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_DichVuWiki" type="tns:DichVuWiki">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DangNhap">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/DangNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DangKiTaiKhoanAdmin">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/DangKiTaiKhoanAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DangKiTaiKhoanUser">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/DangKiTaiKhoanUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraiTaiKhoanDatontai">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/KiemTraiTaiKhoanDatontai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraTaiKhoan">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/KiemTraTaiKhoan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachDanhMuc">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/DanhSachDanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemMoiDanhMuc">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/ThemMoiDanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraDanhMucDaTonTai">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/KiemTraDanhMucDaTonTai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChitTietDanhMuc">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/ChitTietDanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaDanhMuc">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/SuaDanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaDanhMuc">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/XoaDanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachTatCaBaiViet">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/DanhSachTatCaBaiViet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachTatCaBaiVietDaXem">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/DanhSachTatCaBaiVietDaXem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachTatCaBaiVietChuaXem">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/DanhSachTatCaBaiVietChuaXem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachBaiVietNguoiDung">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/DanhSachBaiVietNguoiDung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachSanPhamTheoDanhMuc">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/DanhSachSanPhamTheoDanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraTieuDeDaTonTai">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/KiemTraTieuDeDaTonTai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TaoBaiVietMoi">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/TaoBaiVietMoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChiTietSanPham">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/ChiTietSanPham" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NoiDungBaiVietClient">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/NoiDungBaiVietClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuaBaiViet">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/SuaBaiViet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatBaiViet">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/CapNhatBaiViet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaBaiViet">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/XoaBaiViet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wikiService">
    <wsdl:port name="BasicHttpBinding_DichVuWiki" binding="tns:BasicHttpBinding_DichVuWiki">
      <soap:address location="http://localhost:60198/wikiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>