WikiManageWeb/Connected Services/WikiService/wikiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wikiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60198/wikiService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60198/wikiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60198/wikiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" />
      <xsd:import schemaLocation="http://localhost:60198/wikiService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/wikiService.ModelViewContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DichVuWiki_DangNhap_InputMessage">
    <wsdl:part name="parameters" element="tns:DangNhap" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DangNhap_OutputMessage">
    <wsdl:part name="parameters" element="tns:DangNhapResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DangKiTaiKhoanAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:DangKiTaiKhoanAdmin" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DangKiTaiKhoanAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:DangKiTaiKhoanAdminResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_KiemTraiTaiKhoanDatontai_InputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraiTaiKhoanDatontai" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_KiemTraiTaiKhoanDatontai_OutputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraiTaiKhoanDatontaiResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_KiemTraTaiKhoan_InputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraTaiKhoan" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_KiemTraTaiKhoan_OutputMessage">
    <wsdl:part name="parameters" element="tns:KiemTraTaiKhoanResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DanhSachDanhMuc_InputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachDanhMuc" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_DanhSachDanhMuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:DanhSachDanhMucResponse" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_ThemMoiDanhMuc_InputMessage">
    <wsdl:part name="parameters" element="tns:ThemMoiDanhMuc" />
  </wsdl:message>
  <wsdl:message name="DichVuWiki_ThemMoiDanhMuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThemMoiDanhMucResponse" />
  </wsdl:message>
  <wsdl:portType name="DichVuWiki">
    <wsdl:operation name="DangNhap">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/DangNhap" message="tns:DichVuWiki_DangNhap_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/DangNhapResponse" message="tns:DichVuWiki_DangNhap_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DangKiTaiKhoanAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/DangKiTaiKhoanAdmin" message="tns:DichVuWiki_DangKiTaiKhoanAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/DangKiTaiKhoanAdminResponse" message="tns:DichVuWiki_DangKiTaiKhoanAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KiemTraiTaiKhoanDatontai">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/KiemTraiTaiKhoanDatontai" message="tns:DichVuWiki_KiemTraiTaiKhoanDatontai_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/KiemTraiTaiKhoanDatontaiResponse" message="tns:DichVuWiki_KiemTraiTaiKhoanDatontai_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KiemTraTaiKhoan">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/KiemTraTaiKhoan" message="tns:DichVuWiki_KiemTraTaiKhoan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/KiemTraTaiKhoanResponse" message="tns:DichVuWiki_KiemTraTaiKhoan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DanhSachDanhMuc">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/DanhSachDanhMuc" message="tns:DichVuWiki_DanhSachDanhMuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/DanhSachDanhMucResponse" message="tns:DichVuWiki_DanhSachDanhMuc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThemMoiDanhMuc">
      <wsdl:input wsaw:Action="http://tempuri.org/DichVuWiki/ThemMoiDanhMuc" message="tns:DichVuWiki_ThemMoiDanhMuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DichVuWiki/ThemMoiDanhMucResponse" message="tns:DichVuWiki_ThemMoiDanhMuc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_DichVuWiki" type="tns:DichVuWiki">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DangNhap">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/DangNhap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DangKiTaiKhoanAdmin">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/DangKiTaiKhoanAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraiTaiKhoanDatontai">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/KiemTraiTaiKhoanDatontai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraTaiKhoan">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/KiemTraTaiKhoan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DanhSachDanhMuc">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/DanhSachDanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemMoiDanhMuc">
      <soap:operation soapAction="http://tempuri.org/DichVuWiki/ThemMoiDanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wikiService">
    <wsdl:port name="BasicHttpBinding_DichVuWiki" binding="tns:BasicHttpBinding_DichVuWiki">
      <soap:address location="http://localhost:60198/wikiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>