WebPartnerWIki/Connected Services/AuthSerive/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60198/AuthService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60198/AuthService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60198/AuthService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wikiService.Models.ModelViewContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="KiemSoatPartner_TimBaiVietTheoTen_InputMessage">
    <wsdl:part name="parameters" element="tns:TimBaiVietTheoTen" />
  </wsdl:message>
  <wsdl:message name="KiemSoatPartner_TimBaiVietTheoTen_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimBaiVietTheoTenResponse" />
  </wsdl:message>
  <wsdl:message name="KiemSoatPartner_NoiDungBaiVietClient_InputMessage">
    <wsdl:part name="parameters" element="tns:NoiDungBaiVietClient" />
  </wsdl:message>
  <wsdl:message name="KiemSoatPartner_NoiDungBaiVietClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:NoiDungBaiVietClientResponse" />
  </wsdl:message>
  <wsdl:portType name="KiemSoatPartner">
    <wsdl:operation name="TimBaiVietTheoTen">
      <wsdl:input wsaw:Action="http://tempuri.org/KiemSoatPartner/TimBaiVietTheoTen" message="tns:KiemSoatPartner_TimBaiVietTheoTen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/KiemSoatPartner/TimBaiVietTheoTenResponse" message="tns:KiemSoatPartner_TimBaiVietTheoTen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NoiDungBaiVietClient">
      <wsdl:input wsaw:Action="http://tempuri.org/KiemSoatPartner/NoiDungBaiVietClient" message="tns:KiemSoatPartner_NoiDungBaiVietClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/KiemSoatPartner/NoiDungBaiVietClientResponse" message="tns:KiemSoatPartner_NoiDungBaiVietClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_KiemSoatPartner" type="tns:KiemSoatPartner">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimBaiVietTheoTen">
      <soap:operation soapAction="http://tempuri.org/KiemSoatPartner/TimBaiVietTheoTen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NoiDungBaiVietClient">
      <soap:operation soapAction="http://tempuri.org/KiemSoatPartner/NoiDungBaiVietClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="BasicHttpBinding_KiemSoatPartner" binding="tns:BasicHttpBinding_KiemSoatPartner">
      <soap:address location="http://localhost:60198/AuthService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>